.postDiv {
    border: solid 1px grey;
    border-radius: 3%;
    width: 55vw;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px
}

.postHeader{
    text-align: right;
}

.postPicture{
    background-color: '#1b1c1d';
}

.postConfig {
    font-size: 12px;
    display: inline
}

.postConfig:hover{
    color: blue;
    cursor: pointer
}

.postConfigContainer, .viewComment{
    width: 50%;
    text-align: right;
    margin-left: auto;
}

.modal{
    text-align: right;
    margin-right: 5%;
}