.appName {
    color: white;
    margin-top: 20px;
    margin-right: 20px;
    float: right;
    font-size: 3vh
}
.postDiv {
    border: solid 1px grey;
    border-radius:  0px  0% 3% 3%;
    width: 55vw;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;                 
}

.navBar{
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 10;
    display:block;
    padding-top: 4px;
    padding-bottom: 4px
}

.postHeader{
    text-align: right;
    padding-right: 5px
}

.postContent{
    padding-left: 5px
}
.postPicture{
    background-color: '#1b1c1d';
}

.postConfig {
    font-size: 12px;
    display: inline
}

.postConfig:hover{
    color: blue;
    cursor: pointer
}

.postConfigContainer, .viewComment{
    width: 50%;
    text-align: right;
    margin-left: auto;
    display: block;
    padding-right: 3px
}

/* .modal{
    background-color: #1b1c1d;
    color: white;
    font-size: 3vh
} */

.commentConfig:hover{
    color: blue;
    cursor: pointer
}

.profileDiv{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    border: solid 1px;
    text-align: center;
}

.profilePicture{
    width: 125px;
    height: 125px;
    
}

.profileInfoDivOne, .profileInfoDivTwo, .bioDiv{
    padding-left: 2vw;
    /* border: solid 1px; */
    display: inline-block; 
    width: 125px;
    text-align: left;
}

.bioDiv {
    margin-top: 1vh;
    width: 60%
}

.buttonDiv{
    text-align: right;
    padding-right: 2vw;
    padding-bottom: 1vh;
}

.email,.username, .bio{
    width: 20vw;
    margin: 0px
}

.homeAuth:hover{
    cursor:pointer;
    color: red
}

.thisDiv{
    text-align: center;
    height: 100vh;
    width: 100%;
    background-color: black;
    background-image: url('https://media0.giphy.com/media/l3q2Xl2Rd8wZfMCaI/source.gif');
    background-repeat: no-repeat;
    background-size: cover;
}

.homeDiv{
    color:white;
    position: fixed;
    width: 90vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0);
    padding: 5vw;
    border-radius: 20%
}


.labels {
    height: 50px
}
.ui.form .field.labels>label {
    color:white
}


.notFoundContainer{
    text-align: center;
    height: 100vh;
    width: 100%;
    background-image: url('https://media3.giphy.com/media/11y8rPp6vFIciA/source.gif');
    background-repeat: no-repeat;
    background-size: cover;
    color:white
    /* background-image: url('https://media0.giphy.com/media/l3q2Xl2Rd8wZfMCaI/source.gif'); */
}

.notFoundContainer h1{
    padding-top: 15vh;
}

.listDiv{
    border-top: solid 2px black;
    
    width: 60vw;
    height: 50vh;
    overflow: scroll;
    margin-left: auto;
    margin-right: auto;
}

.listItem{
    border-bottom: solid 1px black;
    padding: 7px
}

.listItem:hover{
    opacity: .7;
    cursor: pointer
}

.messageForm{
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
}

.topicDiv{
    height: 20vh;
    margin: 15px;
    background-repeat: no-repeat;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    opacity: 1;
    
    transition: 0.3s;
}



.topicDiv:hover{
    opacity: 0.5;
    transition: 0.3s;
    color:black
}

.topicText {
    float: right;
    position: relative;
    top: 10vh;
    font-size: 3em;
    opacity: 1;
    color:white;
}

.topicFooter{
    display: block;
    position: fixed;
    width: 100%;
    padding:200px;
    height: 5vh
}

/* .createPostButton{
    background-color: #1b1c1d;
    color: white;
    font-size: 3vh
} */

.followingOptions{
    color: blue;
}

.followingOptions:hover{
    cursor:pointer;
}

.notification{
    color: red;
}